* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #dde0e0;
}

a {
    text-decoration-line: none;
    color: #ffffff;
}

header {
    height: 50px;
    width: 100%;
    background-color: #01194b;
}
header ul li {
    width: 100%;
    list-style-type: none;
}

aside {
    height: 100%;
    width: 250px;
    position: relative;
    left: 0;
    top: 0;
    /*background: #243747;*/
    background: rgba(2, 58, 149, 0.7);
    float: left;
    transition: width .5s;
}

aside .first {
    height: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;
}

aside .first .catalog {
    color: #ffffff;
    font-size: 25px;
}

aside .first .logo:hover {
    color: crimson;
}

aside ul li {
    width: 100%;
    list-style-type: none;
    /*padding-top: 5px;*/
}

aside ul li a {
    line-height:40px;
    display: block;
    /*padding-left: 20px;*/
    text-align: left;
    color: #fff;
    user-select: none;
}

aside .listtext {
    padding-left: 20px;
    height: 50px;
    font-size: 25px;
    display: inline-block;
}

aside .listtext_2 {
    padding-left: 50px;
    height: 40px;
    font-size: 20px;
    display: none;
}

aside ul li a:hover {
    color: #0385cb;
    background: lightblue;
}

.icon-package {
    width: 30px;
    height: 30px;
}

.logout-a{
    float: right;
    width: 50px;
    line-height: 50px;
    color: #fff;
    /*padding: 0px;*/
    font-size: 15px;
    /*margin: 0;*/
    text-align: center;
}
.logout-a:hover {
    color: #023fba;
    background: #7ad0f8;
}

.hide-a{
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    /*padding: 0px;*/
    font-size: 23px;
    /*margin: 0;*/
    text-align: center;
}
.hide-a:hover {
    color: #023fba;
    background: #7ad0f8;
}

.home-a{
    display: block;
    height: 50px;
    float: left;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background: url(../image/home_white.png) no-repeat center;
}
.home-a:hover {
    color: #023fba;
    background: url(../image/home.png) no-repeat center;
    background-color: rgb(122, 208, 248);
}

.logo{
    color: #fff;
    margin-left: 50px;
    font-size: 30px;

    display: block;
    height: 50px;
    float: left;
    width: 180px;
    line-height: 50px;
    text-align: center;
}

/*mini*/

.minibody .listtext {
    display: none;
}

.minibody aside {
    width: 0px;
    text-align: center;
}

.minibody aside ul li a {
    padding-left: 0;
}

.minibody aside .first .catalog {
    /*font-size: 12px;*/
    display: none;
}

.minibody .function_view{
    left: 0px;
    /*transition: width .5s;*/
}

/*功能视图*/
.function_view{
    float: left;
    /*background-color: #eeeee7;*/
    height: 100%;
    /*width: 100%;*/
    transition: .5s;
}

footer{
    color: #b7bcbf;
    text-align: center;
    clear:both;
    background-color: #01194b;
}