h1 {
    margin-left: 50px;
    margin-top: 20px;
}

textarea {
    outline: none;
    border-radius: 5px;
    border: 1px solid #312E3D;
    min-width: 500px;
    max-width: 500px;
    min-height: 250px;
    margin-top: 10px;
    margin-bottom: 50px;
}

button {
    /*float: left;*/
    width: 100px;
    height: 40px;
    /*margin-left: 100px;*/
    /*margin-right: 100px;*/
    margin-bottom: 18px;
    outline: none;
    font-size: 15px;
    color: #ffffff;
    border: 0px solid #312E3D;
    border-radius: 10px;
    background-color: #5e5efa;
}
button:hover {
    color: #ffffff;
    background: #0499fc;
    cursor: pointer
}

.contractDetail {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    left: 30%;
    font-size: 1.5em;
    font-weight: bolder;
    background: rgb(241, 243, 243);
    -webkit-box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-collapse: collapse;
    border: 0px solid #00bfff;
    width: 600px;
    /* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
    table-layout: fixed;

    padding-left: 100px;
    padding-top: 20px;
}

.msg{
    font-weight: normal;
}

.btn {
    display: flex;
    /*margin:0 auto;*/
    width: 500px;
    margin-left: 200px;
}