{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>

<h1>权限分配 |</h1>
<div class="authority_assignment">
    <div id="username">用户名:</div>
    <form action="http://vip.biancheng.net/login.php" method="post" name="formName">
        配置权限:
        <div class="select">
            <input type="radio" name="authority" value="manager" id="manager"><label for="manager">管理员(XXXXXX}</label>
            <br/>
            <input type="radio" name="authority" value="operator" id="operator" checked><label for="operator">操作员(XXXXXXXX)</label>
        </div>
    </form>
    <div class="btn">
        <button>提交</button>
        <button>重置</button>
    </div>
</div>







