

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/baseTable.css' %}"/>

<h1>{{ functionname }} |</h1>


<div class="table_unit">
    <div class="search_block">
        <form class="form-search" onsubmit="return false;">
            <input id="search_input" class="search_input" type="text" placeholder="搜 索" value="{{ searchMsg }}">
            <button class="search_btn" type="submit" onclick="onSearchBtn({{ searchURL }})">查找</button>
        </form>
    </div>

    <table>
        <thead>
        <tr>
            {% for field in fieldlist %}
                <th>{{ field }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>

        {% for result in resultlist %}
            <tr>
                {% if function == 'right' %}
                    <td>{{ result.username.username }}</td>
                    <td>{{ result.rolename.rolename }}</td>
                    <td><a>编辑</a></td>
                {% endif %}
                {% if function == 'newuser_authorize' %}
                    <td>{{ result.username.username }}</td>
                    <td>{{ result.rolename.rolename }}</td>
                    <td><a>授权</a></td>
                {% endif %}
                {% if function == '' %}
                {% endif %}
                {% if function == '' %}
                {% endif %}
                {% if function == '' %}
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="pagination">
        <div class="current_page">
            <a>当前页：{{ current_page }}</a>
        </div>

        <ul>
            <li><a onclick="onPrePageClick()">上一页</a></li>
            {% for page in pageslist %}
                <li><a onclick="onPageClick(this)">{{ page }}</a></li>
            {% endfor %}
            <li><a onclick="onNextPageClick()">下一页</a></li>
        </ul>
    </div>

</div>