{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>

<h1>签订合同 |</h1>
<div class="sign_contract">
    <form class="sign_contract_form" action="http://vip.biancheng.net/login.php" method="post" name="formName">
        <div class="content">
            <div id="contract_name">合同编号:{{ contractMsg.conid }}</div>
            <div id="contract_name">合同名称:{{ contractMsg.conname }}</div>
            <div id="customer">客户:{{ customerMsg.cusname }}</div>
            <div class="single_content"><span>* </span><div>签订信息:</div><textarea id="approval_comments"></textarea></div>
        </div>
    </form>
    <div class="btn">
        <button onclick="onSigncontractCommit('{{ contractMsg.conid }}')">提交</button>
         <button onclick="onClearText()">重置</button>
        <button onclick="onReturnPrePage()">返回</button>
    </div>
</div>
