{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contractDetail.css' %}"/>

<h1>合同详情 |</h1>

<div class="contractDetail">
    <div class="contract_name">合同编号:&nbsp;&nbsp;<span class="msg">{{ contractMsg.conid }}</span></div>
    <div class="contract_name">合同名称:&nbsp;&nbsp;<span class="msg">{{ contractMsg.conname }}</span></div>
    <div class="contract_name">客户名称:&nbsp;&nbsp;<span class="msg">{{ contractMsg.cusid.cusname }}</span></div>
    <div class="contract_name">起&nbsp;&nbsp;草&nbsp;人:&nbsp;&nbsp;<span class="msg">{{ contractMsg.username.username }}</span></div>
    <div class="contract_content">
        <div>合同内容:</div>
        <textarea disabled="disabled">{{ contractMsg.content }}</textarea>
    </div>
    <div class="btn">
        <button onclick="onReturnPrePage()">返回</button>
    </div>
</div>