{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>

<h1>签订合同 |</h1>
<div class="sign_contract">
    <form class="sign_contract_form" action="http://vip.biancheng.net/login.php" method="post" name="formName">
        <div class="content">
            <div id="contract_name">合同名称:XXX合同</div>
            <div id="customer">客户:胡江浩</div>
            <div class="single_content"><span>* </span><div>签订信息:</div><textarea id="approval_comments"></textarea></div>
        </div>
    </form>
    <div class="btn">
        <button>提交</button>
        <button>重置</button>
    </div>
</div>
