{% load static %}
{% load set_val %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>

<h1>流程配置:&nbsp;&nbsp;{{ contractname }} |</h1>

<div class="allocation_contract">
    <div class="countersign_contract_person">
        <div class="distribution">
            <div>分配会签人</div>
            <div>待分配人员列表</div>
            <select class="countersign" id="countersign_will" size="5"
                    onChange="onDeleteCountersignWillOption(this.value)">
{#                {% for userright in userrightlist %}#}
{#                    {% for rolefunction in rolefunctionlist %}#}
{#                        {% if rolefunction.rolename.rolename == userright.rolename.rolename %}#}
{#                            {% if rolefunction.function.funcname == 'contract_countersign' %}#}
{#                                <option value="{{ userright.username.username }}">{{ userright.username.username }}</option>#}
{#                            {% endif %}#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
                {% for userright in left1_rightlist %}
                    <option value="{{ userright.username.username }}">{{ userright.username.username }}</option>#}
                {% endfor %}
            </select>
        </div>
        <div class="distribution">
            <div class="had">已分配人员列表</div>
            <select class="countersign" id="countersign_have" size="5"
                    onChange="onDeleteCountersignHaveOption(this.value)">
                {% for countersignprocess in countersign %}
                    <option value="{{ countersignprocess.username.username }}">{{ countersignprocess.username.username }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="approve_contract_person">
        <div class="distribution">
            <div>分配审批人</div>
            <div>待分配人员列表</div>
            <select class="approve" id="approve_will" size="5" onChange="onDeleteApproveWillOption(this.value)">
{#                {% for userright in userrightlist %}#}
{#                    {% for rolefunction in rolefunctionlist %}#}
{#                        {% if rolefunction.rolename.rolename == userright.rolename.rolename %}#}
{#                            {% if rolefunction.function.funcname == 'contract_approval' %}#}
{#                                <option value="{{ userright.username.username }}">{{ userright.username.username }}</option>#}
{#                            {% endif %}#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
                {% for userright in left2_rightlist %}
                    <option value="{{ userright.username.username }}">{{ userright.username.username }}</option>#}
                {% endfor %}

            </select>
        </div>
        <div class="distribution">
            <div class="had">待分配人员列表</div>
            <select class="approve" id="approve_have" size="5" onChange="onDeleteApproveHaveOption(this.value)">
                {% for approveprocess in approve %}
                    <option value="{{ approveprocess.username.username }}">{{ approveprocess.username.username }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="sign_contract_person">
        <div class="distribution">
            <div>分配签订人</div>
            <div>待分配人员列表</div>
            <select class="sign" id="sign_will" size="5" onChange="onDeleteSignWillOption(this.value)">
{#                {% for userright in userrightlist %}#}
{#                    {% for rolefunction in rolefunctionlist %}#}
{#                        {% if rolefunction.rolename.rolename == userright.rolename.rolename %}#}
{#                            {% if rolefunction.function.funcname == 'contract_sign' %}#}
{#                                <option value="{{ userright.username.username }}">{{ userright.username.username }}</option>#}
{#                            {% endif %}#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
                {% for userright in left3_rightlist %}
                    <option value="{{ userright.username.username }}">{{ userright.username.username }}</option>#}
                {% endfor %}
            </select>
        </div>
        <div class="distribution">
            <div class="had">已分配人员列表</div>
            <select class="sign" id="sign_have" size="5" onChange="onDeleteSignHaveOption(this.value)">
                {% for signprocess in sign %}
                    <option value="{{ signprocess.username.username }}">{{ signprocess.username.username }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="btn">
        <button onclick="onAllocationCommit('{{ conid }}')">提交</button>
        <button>重置</button>
    </div>
</div>
