{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>

<h1>流程配置:XX合同 |</h1>
<div class="allocation_contract">
    <div class="countersign_contract_person">
        <div class="distribution">
            <div>分配会签人</div>
            <div>待分配人员列表</div>
            <select class="countersign" id="countersign_will" size="5"
                    onChange="onDeleteCountersignWillOption(this.value)">
                <option value="beijing">beijing</option>
                <option value="zhengzhou">zhengzhou</option>
                <option value="longyan">longyan</option>
                <option value="tianjin">tianjin</option>
                <option value="fengcheng">fengcheng</option>
                <option value="xiangyang">xiangyang</option>
                <option value="hailar">hailar</option>
            </select>
        </div>
        <div class="distribution">
            <div class="had">已分配人员列表</div>
            <select class="countersign" id="countersign_have" size="5"
                    onChange="onDeleteCountersignHaveOption(this.value)">

            </select>
        </div>
    </div>

    <div class="approve_contract_person">
        <div class="distribution">
            <div>分配审批人</div>
            <div>待分配人员列表</div>
            <select class="approve" id="approve_will" size="5" onChange="onDeleteApproveWillOption(this.value)">
                <option value="beijing">beijing</option>
                <option value="zhengzhou">zhengzhou</option>
                <option value="longyan">longyan</option>
                <option value="tianjin">tianjin</option>
                <option value="fengcheng">fengcheng</option>
                <option value="xiangyang">xiangyang</option>
                <option value="hailar">hailar</option>
            </select>
        </div>
        <div class="distribution">
            <div class="had">待分配人员列表</div>
            <select class="approve" id="approve_have" size="5" onChange="onDeleteApproveHaveOption(this.value)">

            </select>
        </div>
    </div>

    <div class="sign_contract_person">
        <div class="distribution">
            <div>分配签订人</div>
            <div>待分配人员列表</div>
            <select class="sign" id="sign_will" size="5" onChange="onDeleteSignWillOption(this.value)">
                <option value="beijing">beijing</option>
                <option value="zhengzhou">zhengzhou</option>
                <option value="longyan">longyan</option>
                <option value="tianjin">tianjin</option>
                <option value="fengcheng">fengcheng</option>
                <option value="xiangyang">xiangyang</option>
                <option value="hailar">hailar</option>
            </select>
        </div>
        <div class="distribution">
            <div class="had">已分配人员列表</div>
            <select class="sign" id="sign_have" size="5" onChange="onDeleteSignHaveOption(this.value)">

            </select>
        </div>
    </div>
    <div class="btn">
        <button onclick="oncommit()">提交</button>
        <button>重置</button>
    </div>
</div>
