<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
</head>
<body>
    <div id="login">
        <h1>用户注册</h1>
        <div class="header-main">
            <form method="post">
                <input type="text" required="required" placeholder="用户名" name="username"></input>
                <input type="password" required="required" placeholder="密   码" name="password"></input>
                <input type="password" required="required" placeholder="重复密码" name="confirm_password"></input>
                <button class="btn" type="submit">提交</button>
            </form>
        </div>
    </div>
</body>
</html>